.club-recommendation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .step-1,
  .step-2,
  .step-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
  
  .options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
  }
  
  .option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px 20px 0;
    cursor: pointer;
  }
  
  .option:hover {
    transform: scale(1.1);
  }
  
  .option img {
    width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.option p {
  font-size: 18px;
  font-weight: bold;
}

.selected {
  border: 2px solid #007bff;
}

.recommendation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.recommendation h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}

.recommendation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.recommendation li {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}