.pref{

    background-image: url('./assets/bg4.jpeg.jpg');
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  
}
.pref::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
}
.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  opacity:0.9;
  border-radius: 5%;
  margin: 0 auto;
  margin-top: 100px;
  margin-right: 200px; /* Adjust the value as needed */
  width: 100%;
  max-width: 600px;
  font-family: 'lato';
  position: relative;
  z-index: 1;
  margin:auto;
  justify-content: center;
  margin-top: 100px;
  text-align: center;
  padding: 2rem;
  max-width: fit-content;
  background-color: #EDAA25; /* Set a white background */
  border-radius: 30px; /* Add rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  font-family:'lato' ; /* Use a modern sans-serif font */
  font-size: 16px; /* Adjust the base font size */ /* Set the font weight to normal */
  letter-spacing: 0.5px; /* Add a slight letter spacing for better readability */
  line-height: 1.6;
}

.question-container h2 {
  margin-bottom: 1rem;
  background-color:rgb(255, 255, 255,0.9);
  color: rgb(12, 32, 75);
  display: inline-block;
  padding: 0.75em 1em;
  border-radius: 30px;
  font-size:35px;
  font-weight: 200;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.options-container {
  margin-top: 30px ;
  margin-bottom:30px;
  display: flex;
  background-color:transparent;
  padding: 0.75em 1em;
  border-radius: 30px;
  justify-content: center;
  gap: 50px;
  
}

.option {
  position: relative;
  text-align: center;
  border: transparent;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 50px;
  transition: border-color 0.3s ease;
  padding: 2rem;
  background-color: rgb(69, 45, 32);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.option img {
  width: 100%; /* Make the image fill the container width */
  max-height: 150px; /* Set maximum height for the image */
  object-fit: cover; /* Maintain aspect ratio while covering the container */
  border-radius: 8px;
  opacity: 0.6;
  top: 0;
  left: 0;
}

.option p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 26px;
  text-shadow:1px 1px white;
  color:white;
  font-weight: bolder;
  padding: 5px 10px;
  border-radius: 5px;
}
.option:hover {
  border-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.666);
  transform: scale(1.1);
  transition: all 0.3s ease;
  
   
}
.option:hover p{
  background-color: rgb(255, 255, 255,0.4);
  color:rgb(12, 32, 75);
  text-shadow: #110e0e;
  font-size: 24px;
  

}
.option:hover img {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.option.selected {
  border-color: #007bff;
}

.submit1-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 3rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 59px;
  color: #797979;
  background: #eaeaea;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid #797979;
  transition: all 0.3s ease;
}

button:hover {
  background: #797979;
  color: #fff;
  
}

button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
