
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  
  
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__inner {
  position: relative;
  width: 100%;
  align-items: center;
  height: 100%;
 
}

.slider__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity:0.4;
}

.slider_text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  color: rgb(248, 245, 245);
  font-family: 'lato';
}

.slider__text {
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 20px;
  color:#1b8adf
}

.slider__text1 {
  font-size: 40px;
  font-weight: 400;
  
}
  .slider__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
  }
  
  .slider__dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .slider__dot.active {
    background-color: #333;
  }

  .slider__btn-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slider__btn-left {
    position: absolute;
    top: 50%;
    left: -30px; /* Move the left arrow to the left side of the slider */
    transform: translateY(-50%);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slider__btn-right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slider__btn-left {
    left: 20px;
  }
  
  .slider__btn-right {
    right: 20px;
  }